footer
{
	background-color: #ffe44d;
	height: 140px;
	width: 100%;
	border-top: 1px solid black;
	display:flex;
	justify-content: space-around;
	margin-left:-10px;
  margin-right: -10px;
	position:relative;
}


span
{
	font-weight: bold;
	text-decoration: underline;
	font-style: italic;
	text-transform: uppercase;
  font-family: 'Shadows Into Light', cursive;

}

li
{
	list-style: none;
	line-height: 25px;

}

a
{
	text-decoration: none;
	color: black;
	font-family: 'Nunito Sans', sans-serif;

}

a:hover
{
	color: #FFD700;
	text-decoration: underline;

}
