p {
  text-align: justify;
}

.bttnmarg {
position: relative;
right: -5px;
bottom: 10px;
}

.bordure {
  border-radius: 5px;
  margin-top:20px;
  border-style: ridge !important;
  border-width: 4px !important;
}

.margimg {
  margin-top: 10px !important;
}
#hide {
  display: none;
}
