/*CSS Général*/
* {
 margin:1;
 padding:1;
 }

html, body {
 margin:1;
 padding:1;
 }


 /*Header*/
 header{
   background-image: url(photo_accueil/sidney.jpg);
   height: 422px;
 }

 header h1{
   padding-top: 100px;
   padding-left: 30px;
 }
